@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&display=swap");
* {
  font-family: Inter, sans-serif;
}

body {
  background-color: #241e1e;
}

.glassmorphism {
  /* From https://css.glass */
  /* background: rgba(253, 190, 14, 0.5); */
  background: #fdbe0e;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
}

.taxiTEMP {
  background: url("assets/images/taxiTEMPDark.png") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.glassmorphismBlack {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.71);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
}

.blackAndYellow {
  background-image: url("./assets/images/blackAndYellowNeoOne.png");
  background-size: 1rem;
  background-size: contain;
  animation: bannermove 15s linear infinite;
}

.blackAndYellowStatic {
  background-image: url("./assets/images/blackAndYellowNeoOne.png");
  background-size: 1rem;
  background-size: contain;
}
.half {
  background: linear-gradient(to left, #fdbe0e 50vw, #241e1e 50vw);
}

.halfInvert {
  background: linear-gradient(to top, #241e1e 50%, #fdbe0e 50%);
}

@media (min-width: 768px) {
  .halfInvert {
    background: linear-gradient(to left, #241e1e 50vw, #fdbe0e 50vw);
  }
}

@keyframes bannermove {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100vw;
  }
}
