@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&display=swap");
* {
  font-family: "Inter", sans-serif;
}
.glassmorphism {
  /* From https://css.glass */
  background: rgba(253, 190, 14, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
}

.taxiTEMP {
  background: url("assets/images/taxiTEMP.png") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.taxiTEMPone {
  background: url("assets/images/taxiTEMPone.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.glassmorphismBlack {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.71);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
}

.blackAndYellow {
  background-image: url("./assets/images/blackAndYellow.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-size: 72rem;
}
